<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="apple" class="com.adarsh.spring.bean.Apple"/>

    <bean id="orange" class="com.adarsh.spring.bean.Orange"/>

    <bean id="fruitBasket" class="com.adarsh.spring.service.FruitBasket" scope="prototype">
        <property name="fruit" ref="apple"/>
    </bean>

</beans> 



