<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:/properties/application.properties" local-override="true"/>

    <bean id="springAbstractWish" class="com.adarsh.spring.service.construct.AbstractMySpringWish" abstract="true">
        <property name="name" value="${app.name}" />
    </bean>

    <bean id="mySpringWishClass" class="com.adarsh.spring.service.construct.MySpringWishImpl" parent="springAbstractWish"/>

    <bean id="serviceClass" class="com.adarsh.spring.service.impl.MySpringServiceClass">
        <property name="myClass">
            <ref bean="mySpringWishClass"/>
        </property>
    </bean>

</beans> 


