<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:properties/application.properties"/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

   <bean id="employeeService" class="com.adarsh.spring.service.EmployeeServiceImpl" autowire="autodetect"/>

   <bean id="employeeRepository" class="com.adarsh.spring.respository.EmployeeRepositoryImpl" autowire="autodetect" />

    <bean id="employee" class="com.adarsh.spring.bean.Employee">
        <property name="empId" value="${app.user.id}"/>
        <property name="empName" value="${app.user.name}"/>
    </bean>
</beans>