<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dateObject" class="java.util.Date">
        <property name="date">
            <value>13</value>
        </property>
        <property name="month">
            <value>08</value>
        </property>
        <property name="year">
            <value>1983</value>
        </property>
    </bean>

    <bean id="ClientClass" class="com.adarsh.service.impl.MyServiceBean">
        <property name="date">
            <ref bean="dateObject"/>
        </property>
        <property name="name">
            <value>ADARSH KUMAR SINGH</value>
        </property>

    </bean>
</beans> 

