<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dateObj" class="java.util.Date">
        <property name="date">
            <value>13</value>
        </property>
        <property name="month">
            <value>08</value>
        </property>
        <property name="year">
            <value>1983</value>
        </property>
    </bean>

    <bean id="businessObject" class="com.adarsh.service.impl.MyBusinessServiceImpl">
        <constructor-arg>
            <ref bean="dateObj"/>
        </constructor-arg>
    </bean>

</beans> 

