<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myService" class="com.adarsh.spring.service.MyServiceImpl">
        <property name="message" value="Hi Adarsh"/>
    </bean>

    <bean id="contextStartEventHandler" class="com.adarsh.spring.eventHandler.ContextStartEventHandler"/>
    <bean id="contextStoppedEventHandler" class="com.adarsh.spring.eventHandler.ContextStoppedEventHandler"/>

</beans>