<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dateObject" class="java.util.Date">
        <property name="date">
            <value>13</value>
        </property>
        <property name="month">
            <value>08</value>
        </property>
        <property name="year">
            <value>1983</value>
        </property>
    </bean>

    <bean id="businessObject" class="com.adarsh.spring.service.impl.MyBusinessBeanClass">
        <property name="userName">
            <value>adarsh kumar singh</value>
        </property>
        <property name="date">
            <ref bean="dateObject"/>
        </property>
    </bean>

</beans> 


