<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:/properties/application.properties" />

    <bean id="dateObject" class="java.util.Date">
        <property name="date">
            <value>13</value>
        </property>
        <property name="month">
            <value>08</value>
        </property>
        <property name="year">
            <value>1983</value>
        </property>
    </bean>

    <bean id="businessObject" class="com.adarsh.spring.service.impl.MyBusinessBeanClass">
        <property name="userName" value="${app.user.name}" />
        <property name="date" ref="dateObject"/>
    </bean>

</beans> 


