<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <bean id="myBusinessObject" class="com.adarsh.service.impl.MyBusinessServiceImpl">
        <property name="mapObject" ref="keyValueMap"/>
    </bean>

    <util:map id="keyValueMap"
              key-type="java.lang.Integer"
              value-type="java.lang.String"
              map-class="java.util.LinkedHashMap">

        <entry key="101" value="adarsh kumar"/>
        <entry key="102" value="amit kumar"/>
        <entry key="103" value="Radha singh"/>
    </util:map>

</beans> 


