<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:/properties/application.properties"/>

    <bean id="mySpringBean" class="com.adarsh.spring.bean.MySpringBeanImpl">
        <property name="firstName" value="ADARSH KUMAR SINGH"/>
    </bean>

    <bean id="afterBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="mySpringBean"/>
        <property name="interceptorNames">
            <list>
                <value>traceInterceptor</value>
                <value>simpleTraceInterceptor</value>
                <value>debugInterceptor</value>
            </list>
        </property>
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <bean id="traceInterceptor"
              class="org.springframework.aop.interceptor.CustomizableTraceInterceptor">
        <property name="useDynamicLogger" value="true"/>
        <property name="enterMessage" value="Entered $[methodName] on $[targetClassShortName] for Debug Purpose"/>
        <property name="exitMessage"  value="Entered $[methodName] on $[targetClassShortName] for Debug Purpose"/>
    </bean>

    <bean id="simpleTraceInterceptor" class="org.springframework.aop.interceptor.SimpleTraceInterceptor">
        <property name="useDynamicLogger" value="true"/>
    </bean>

    <bean id="debugInterceptor" class="org.springframework.aop.interceptor.DebugInterceptor">
        <property name="useDynamicLogger" value="true"/>
    </bean>

</beans>
