<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/util
                            http://www.springframework.org/schema/util/spring-util.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath*:/properties/application.properties"/>

    <bean id="businessObject" class="com.espark.adarsh.service.impl.BusinessServiceImpl">
        <property name="listObject" ref="nameList"/>
    </bean>

    <util:list id="nameList" scope="singleton"
               value-type="java.lang.String"
               list-class="java.util.ArrayList">
        <value>${app.user.name1}</value>
        <value>${app.user.name2}</value>
        <value>${app.user.name3}</value>
        <value>abishek kumar singh</value>
        <value>amritesh kumar singh</value>
        <value>ajay kumar singh</value>
    </util:list>

</beans> 


