<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="employeeService" class="com.adarsh.spring.service.EmployeeServiceImpl"/>

    <bean id="employeeRepository" class="com.adarsh.spring.respository.EmployeeRepositoryImpl"/>

    <bean id="employeeOne" class="com.adarsh.spring.bean.Employee">
        <property name="empId" value="101"/>
        <property name="empName" value="Adarh Kumar singh"/>
    </bean>

    <bean id="employeeTwo" class="com.adarsh.spring.bean.Employee">
        <property name="empId" value="102"/>
        <property name="empName" value="Amit Kumar singh"/>
    </bean>
</beans>