<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder order="1"  location="classpath*:/properties/application.properties"/>

    <bean id="afterBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <bean class="com.adarsh.spring.bean.MySpringBeanImpl">
                <property name="firstName" value="${app.msg}"/>
            </bean>
        </property>
        <property name="interceptorNames">
            <list>
                <idref bean="traceInterceptor"/>
            </list>
        </property>
        <property name="proxyTargetClass" value="true"/>
    </bean>

    <bean id="traceInterceptor"
              class="org.springframework.aop.interceptor.CustomizableTraceInterceptor">
        <property name="enterMessage"
                  value="Entered $[methodName] on $[targetClassShortName]"/>
    </bean>
</beans>
