<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.0.xsd">

    <bean id="businessObject" class="com.adarsh.service.impl.BusinessServiceImpl">
        <property name="listObject" ref="nameList"/>
    </bean>

    <util:list id="nameList" scope="singleton"
               value-type="java.lang.String"
               list-class="java.util.ArrayList">

        <value>adarsh kumar singh</value>
        <value>amnit kumar singh</value>
        <value>abishek kumar singh</value>
        <value>amritesh kumar singh</value>
        <value>ajay kumar singh</value>
    </util:list>

</beans> 


